{% extends 'base/base.html' %}

{% block title %}
    Контроль качества
{% endblock %}

{% block content %}
    <h1>Список запросов на улучшение</h1>
    <a href={% url "q_control:create_feature_request" %}>Создать новый запрос на улучшение</a>
    <ul>
        {% for feature in features %}
            <li>
                <a href="{% url 'q_control:feature_detail' feature.id %}">
                {{feature.title}} ({{feature.status}})</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}